@model Data

@{
    ViewData["Title"] = "Home Page";
}

<div id="list-content"></div>

@section Scripts {

<script id="itemTmpl" type="text/x-jquery-tmpl">
    <div class="movie-bag">
        <div class="base-info">
            <h2>
                ${name}
            </h2>
            <p>
                Ссылка: ${alternate_url}<br />
            </p>
        </div>
    </div>
</script>

<script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/js/site.js"></script>

}

